extends ../layout

block content
  .row
    ul.nav.nav-tabs
      li(class=ticket_type ? '' : 'active')
        a(href="/") Matching results
      li(class=ticket_type === 'need' ? 'active' : '')
        a(href="/need") Needs
      li(class=ticket_type === 'offer' ? 'active' : '')
        a(href="/offer") Offers
      li.pull-right
        button.btn.btn-default.link-btn(type="button")
          a.no-underline(href="/need/new")
            span.glyphicon.glyphicon-plus
            | Create Need
      li.pull-right
        button.btn.btn-default.link-btn(type="button")
          a.no-underline(href="/offer/new")
            span.glyphicon.glyphicon-plus
            | Create Offer

  .row
    - if (!ticket_type)
      .col-md-5#needList
        h3 Needs available
        ul
      .col-md-5#offerList
        h3 Offers available
        ul
    - else
      .col-md-6(id=ticket_type + 'List')
        h3= ticket_type.toUpperCase() + ' available'
        ul

