extends ../layout

block content
  - if (source_id)
    .row
      - ticketJsonUrl = '/' + source_type + '/' + source_id + '/json'
      h3 Source ticket
      label#source_ticket(for=ticketJsonUrl)
      form(action='/matching/confirm', method='post', role='form')
        input(type='hidden', name='_csrf', value="#{csrf_token}")
        input(type='hidden', name='ticket_type', value=ticket_type)
        input(type='hidden', name='id', value=ticket._id)
        input(type='hidden', name='source_type', value=source_type)
        input(type='hidden', name='source_id', value=source_id)
        button.btn.btn-success(type='submit') Match!

  .page-header
    h1= title
      small &nbsp;
        strong.display-classification(id=ticket.classification)= ticket.classification_name
    case ticket.statut
      when 0
        span.label.label-primary
          strong Open
      when 1
        span.label.label-success
          strong Matched
      when 2
        span.label.label-warning
          strong End
      when 3
        span.label.label-danger
          strong Closed
    small
      |&nbsp;
      span Posted at 
      span.ticket-date= ticket.creation_date
      span.pull-right
        a(href='/' + ticket_type + '/matching/' + ticket._id) Matching
      span.pull-right &nbsp;|&nbsp;
      span.pull-right
        a(href='/' + ticket_type + '/' + ticket._id + '/edit') Modify

  // basic infobox and matching results box
  .row
    #ticket-info-box.col-md-7
      each keys in [{'header': 'Basic', 'keys': [{'key': 'user', 'label': 'Author'}, {'key': 'source_actor_type_name', 'label': 'Source actor'}, {'key': 'target_actor_type_name', 'label': 'Target actor'}, {'key': 'address', 'label': 'Address'}]}, {'header': 'Availability', 'keys': [{'key': 'start_date', 'label': 'From'}, {'key': 'end_date', 'label': 'To'}, {'key': 'quantity', 'label': 'Quantity'}, {'key': 'cost', 'label': 'Cost'}, {'key': 'budget', 'label': 'Budget'}]}]
        .panel.panel-default
          .panel-heading
            strong= keys.header
          table.table.table-bordered.table-condensed
            each key in keys.keys
              - if (ticket[key.key] !== undefined)
                tr.row
                  td.col-md-4
                    strong= key.label
                  td.col-md-8(id='ticket_' + key.key, class=key.key == 'start_date' || key.key == 'end_date' ? 'ticket-date' : '')= ticket[key.key]
      .panel.panel-default
        .panel-heading
          strong Description
        .panel-body
          .row
            -var hasImages = ticket.media !== undefined && ticket.media.image !== undefined && ticket.media.image.length > 0
            - if (hasImages)
              .col-md-4
                // display photos
                #carousel-ticket-photos.carousel.slide(data-ride="carousel")
                  ol.carousel-indicators
                    each val, index in ticket.media.image
                      li(data-target="#carousel-ticket-photos", data-slide-to=index, class=index==0?"active":"")
                  .carousel-inner
                    each val, index in ticket.media.image
                      - var image_url = val.replace(/^\.\/public/, '')
                      .item(class=index==0?"active":"")
                        img(src="#{image_url}", alt=title, title=title)
                  -if (ticket.media.image.length > 1)
                    a.left.carousel-control(href="#carousel-ticket-photos", data-slide="prev")
                      span.glyphicon.glyphicon-chevron-left
                    a.right.carousel-control(href="#carousel-ticket-photos", data-slide="next")
                      span.glyphicon.glyphicon-chevron-right
            div(class= hasImages ? 'col-md-8' : 'col-md-12')
              p#ticket-description.list-ticket-description= ticket.description

    #ticket-matching-results.col-md-5
      .panel.panel-default
        .panel-heading
          strong Matching results
          label#matching_results_label(for='/' + ticket_type + '/matching/' + ticket._id)
        ul#matching_results_list.list-group
      