extends auth

block auth
  - var action= post_action
  form(action=action, method="post" role="form")
    input(type='hidden', name='_csrf', value='#{csrf_token}')
    - if (!user.isNew)
      input(type='hidden', name='_method', value='PUT')
    .form-group
      label(for="name") Full name
      input#name.form-control(type='text', name='name', placeholder='Full name', value=user.name)
    .form-group
      label(for="email") Email address
      input#email.form-control(type='text', name='email', placeholder='Email', value=user.email)
    .form-group
      label(for="username") Username
      input#username.form-control(type='text', name='username', placeholder='Username', value=user.username)
    - if (user.isNew)
      .form-group
        label(for="password") Password
        input#password.form-control(type='password', name='password', placeholder='Password')
    - else
      .form-group
        label(for="old_password") Old Password
        input#password.form-control(type='password', name='old_password', placeholder='Old password')
      .form-group
        label(for="new_password") New Password
        input#password.form-control(type='password', name='new_password', placeholder='New password')
      .form-group
        label(for="confirm_new_password") Confirme new Password
        input#password.form-control(type='password', name='confirm_password', placeholder='Confirme new password')

    button#btnNewUser.btn.btn-primary(type='submit') Sign up
    | &nbsp; or &nbsp;
    a.show-login(href="/login") Log in
